@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div id="admin-links-wrapper">
                <a class="admin-links" href="createEvent">Create Event</a>
            </div>
            <a href="login">Login/Register</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
